body {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-family: 'Gothic', sans-serif;
}

header {
    text-align: center;
    padding: 20px;
}

main {
    width: 100%;
    padding: 20px;
    position: relative;
}

.product, .cart, .sign, .order-history {
    display: flexbox;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
    width: 45%;
    margin: 10px;
}

.order-history {
    width: 100%;
    margin: 0;
}

button {
    background-color: rgb(12, 12, 12);
    color: rgb(247, 247, 247);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #fdfdfd;
}

.products {
    display: inline-block;
    width: 25%; /* Defina a largura desejada para cada elemento */
    margin: 0 2%; /* Adicione margem para espaçamento entre os elementos */
}

.product {
    width: 50%;
    height: 50%;
}

footer {
    background-color: rgba(0, 0, 0, 0.5);
    color: #070707;
    padding: 0px;
    text-align: center;
}

footer a {
    color: #070707;
    text-decoration: none;
    margin: 0 20px;
}

footer a:hover {
    text-decoration: underline;
}

ul.navbar {
    list-style-type: none;
    margin: 0;
    background-color: rgba(0, 0, 0, 0.5);
    overflow: hidden;
    width: 100%;
    text-align: center;
    padding: 20px;
}

li.nav-item {
    display: inline-block;
}

li.nav-item a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li.nav-item a:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

/* Estilos para telas com largura específica de 480x839 */
@media (max-width: 480px) and (min-height: 839px) {
    .product, .cart, .sign, .order-history {
        display: inline-block;
        width: 48%; /* Ajuste para acomodar os elementos lado a lado */
        margin: 1%; /* Adicione margem para espaçamento entre os elementos */
    }
}